// app global css in SCSS form
:root {
  --font-size: 1rem;
}

h1 {
  font-size: calc(4 * var(--font-size));
}

h2 {
  font-size: calc(3.5 * var(--font-size));
}

h3 {
  font-size: calc(3 * var(--font-size));
}

h4 {
  font-size: calc(2.5 * var(--font-size));
}

h5 {
  font-size: calc(2 * var(--font-size));
}

h6 {
  font-size: calc(1.5 * var(--font-size));
}

.pill {
  border-radius: 1000vw;
}