// app global css in SCSS form

:root {
  --font-size: 1rem;
  color: var(--text);
}

.txt-text {
  color: var(--text);
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-primary-2 {
  background-color: var(--primary-400);
} 

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-background {
  background-color: var(--background);
  color: var(--text);
}

.text-muted {
  color: var(--text-800)
}

@media (prefers-color-scheme: dark) {
  .bg-primary {
    color: var(--background);

    .text-muted {
      color: var(--text-500)
    }
  }
  .bg-primary-600 {
    background-color: var(--primary-600);
  }
  .bg-primary-700 {
    background-color: var(--primary-700);
  }
  .bg-primary-800 {
    background-color: var(--primary-800);
  }
  .bg-accent {
    color: var(--background);
  }
  .bg-background {
    background-color: var(--background);
    color: var(--text);
  }
  .bg-background-2 {
    background-color: var(--background-200);
    color: var(--text)
  }
}

@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Chorasmian:700|Noto%20Sans%20Chorasmian:400');

body {
  font-family: 'Noto Sans Chorasmian';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Chorasmian';
  font-weight: 700;
  color: var(--text);
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.pill {
  border-radius: 1000vw;
}

.fit-width {
  width: fit-content;
}

.fit-height {
  height: fit-content;
}

.relative {
  position: relative;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.text-muted {
  color: #494949;
}


@media (prefers-color-scheme: light) {
  :root {
    --text-50: #efeff5;
    --text-100: #dfdfec;
    --text-200: #bfbfd9;
    --text-300: #9f9fc6;
    --text-400: #8080b3;
    --text-500: #60609f;
    --text-600: #4d4d80;
    --text-700: #393960;
    --text-800: #262640;
    --text-900: #131320;
    --text-950: #0a0a10;

    --background-50: #f1f2f4;
    --background-100: #e2e6e9;
    --background-200: #c5ccd3;
    --background-300: #a9b3bc;
    --background-400: #8c99a6;
    --background-500: #6f7f90;
    --background-600: #596673;
    --background-700: #434c56;
    --background-800: #2c333a;
    --background-900: #16191d;
    --background-950: #0b0d0e;

    --primary-50: #eaeffb;
    --primary-100: #d5e0f6;
    --primary-200: #aac1ee;
    --primary-300: #80a2e5;
    --primary-400: #5683dc;
    --primary-500: #2b63d4;
    --primary-600: #2350a9;
    --primary-700: #1a3c7f;
    --primary-800: #112855;
    --primary-900: #09142a;
    --primary-950: #040a15;

    --secondary-50: #f1f2f4;
    --secondary-100: #e2e4e9;
    --secondary-200: #c6c9d2;
    --secondary-300: #a9aebc;
    --secondary-400: #8d93a5;
    --secondary-500: #70788f;
    --secondary-600: #5a6072;
    --secondary-700: #434856;
    --secondary-800: #2d3039;
    --secondary-900: #16181d;
    --secondary-950: #0b0c0e;

    --accent-50: #eee5ff;
    --accent-100: #deccff;
    --accent-200: #bd99ff;
    --accent-300: #9c66ff;
    --accent-400: #7a33ff;
    --accent-500: #5900ff;
    --accent-600: #4700cc;
    --accent-700: #360099;
    --accent-800: #240066;
    --accent-900: #120033;
    --accent-950: #09001a;

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #0a0a10;
    --text-100: #131320;
    --text-200: #262640;
    --text-300: #393960;
    --text-400: #4d4d80;
    --text-500: #60609f;
    --text-600: #8080b3;
    --text-700: #9f9fc6;
    --text-800: #bfbfd9;
    --text-900: #dfdfec;
    --text-950: #efeff5;

    --background-50: #0b0d0e;
    --background-100: #16191d;
    --background-200: #2c323a;
    --background-300: #434b56;
    --background-400: #596473;
    --background-500: #6f7d90;
    --background-600: #8c97a6;
    --background-700: #a9b1bc;
    --background-800: #c5cbd3;
    --background-900: #e2e5e9;
    --background-950: #f1f2f4;

    --primary-50: #040a15;
    --primary-100: #09142a;
    --primary-200: #112855;
    --primary-300: #1a3c7f;
    --primary-400: #2350a9;
    --primary-500: #2b63d4;
    --primary-600: #5683dc;
    --primary-700: #80a2e5;
    --primary-800: #aac1ee;
    --primary-900: #d5e0f6;
    --primary-950: #eaeffb;

    --secondary-50: #0b0c0e;
    --secondary-100: #16181d;
    --secondary-200: #2d3039;
    --secondary-300: #434856;
    --secondary-400: #5a6072;
    --secondary-500: #70788f;
    --secondary-600: #8d93a5;
    --secondary-700: #a9aebc;
    --secondary-800: #c6c9d2;
    --secondary-900: #e2e4e9;
    --secondary-950: #f1f2f4;

    --accent-50: #09001a;
    --accent-100: #120033;
    --accent-200: #240066;
    --accent-300: #360099;
    --accent-400: #4700cc;
    --accent-500: #5900ff;
    --accent-600: #7a33ff;
    --accent-700: #9c66ff;
    --accent-800: #bd99ff;
    --accent-900: #deccff;
    --accent-950: #eee5ff;

  }
}



@media (prefers-color-scheme: light) {
  :root {
    --text: #06060a;
    --background: #e8eaed;
    --primary: #6396fd;
    --secondary: #f6b1e7;
    --accent: #bf9ff9;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
      --text: #f5f5f9;
      --background: #252735;
      --primary: #9FCFFD;
      --secondary: #3F435A;
      --accent: #c3a2ff;
  }
}